@{
    ViewBag.Title = "CRM Application";
}

@section scripts{
    <script src="https://kit.fontawesome.com/447bbcc032.js" crossorigin="anonymous"></script>
}

<div class="jumbotron">
    <h1>CRM</h1>
    <p class="lead">Keep track of all of your leads and contacts in a single place</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contacts</h2>
        <p>
            Enter new information about your contacts
        </p>
        <p><a href="/Contact"><i class="fas fa-address-book fa-3x"></i></a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Leads</h2>
        <p>Register potential sales leads</p>
        <p><a href="#"><i class="fas fa-universal-access fa-3x"></i></a></p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>Go over your dashboard to see your sales, pipeline and tasks</p>
        <p><a href="#"><i class="fas fa-chart-line fa-3x"></i></a></p>
    </div>
</div>